<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdu.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.cdu.domain.News" >
    <id column="news_id" property="newsId" jdbcType="TINYINT" />
    <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
    <result column="news_image" property="newsImage" jdbcType="VARCHAR" />
    <result column="news_content" property="newsContent" jdbcType="VARCHAR" />
    <result column="news_type" property="newsType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    news_id, news_title, news_image, news_content, news_type, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cdu.domain.NewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
     ORDER BY  news_id DESC
  	 LIMIT #{start} , #{end}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from news
    where news_id = #{newsId,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from news
    where news_id = #{newsId,jdbcType=TINYINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdu.domain.NewsExample" >
    delete from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cdu.domain.News" >
    insert into news (news_id, news_title, news_image, 
      news_content, news_type, create_time
      )
    values (#{newsId,jdbcType=TINYINT}, #{newsTitle,jdbcType=VARCHAR}, #{newsImage,jdbcType=VARCHAR}, 
      #{newsContent,jdbcType=VARCHAR}, #{newsType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdu.domain.News" >
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        news_id,
      </if>
      <if test="newsTitle != null" >
        news_title,
      </if>
      <if test="newsImage != null" >
        news_image,
      </if>
      <if test="newsContent != null" >
        news_content,
      </if>
      <if test="newsType != null" >
        news_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsId != null" >
        #{newsId,jdbcType=TINYINT},
      </if>
      <if test="newsTitle != null" >
        #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsImage != null" >
        #{newsImage,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null" >
        #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="newsType != null" >
        #{newsType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdu.domain.NewsExample" resultType="java.lang.Integer" >
    select count(*) from news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update news
    <set >
      <if test="record.newsId != null" >
        news_id = #{record.newsId,jdbcType=TINYINT},
      </if>
      <if test="record.newsTitle != null" >
        news_title = #{record.newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newsImage != null" >
        news_image = #{record.newsImage,jdbcType=VARCHAR},
      </if>
      <if test="record.newsContent != null" >
        news_content = #{record.newsContent,jdbcType=VARCHAR},
      </if>
      <if test="record.newsType != null" >
        news_type = #{record.newsType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update news
    set news_id = #{record.newsId,jdbcType=TINYINT},
      news_title = #{record.newsTitle,jdbcType=VARCHAR},
      news_image = #{record.newsImage,jdbcType=VARCHAR},
      news_content = #{record.newsContent,jdbcType=VARCHAR},
      news_type = #{record.newsType,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdu.domain.News" >
    update news
    <set >
      <if test="newsTitle != null" >
        news_title = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsImage != null" >
        news_image = #{newsImage,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null" >
        news_content = #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="newsType != null" >
        news_type = #{newsType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdu.domain.News" >
    update news
    set news_title = #{newsTitle,jdbcType=VARCHAR},
      news_image = #{newsImage,jdbcType=VARCHAR},
      news_content = #{newsContent,jdbcType=VARCHAR},
      news_type = #{newsType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where news_id = #{newsId,jdbcType=TINYINT}
  </update>
</mapper>