<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 移动设备 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>轮播图片</title>
<link href="/template/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/template/css/bootstrapValidator.css" rel="stylesheet"/>
<script src="/template/js/jquery-1.9.1.min.js"></script>
<script src="/template/js/bootstrap.min.js"></script>
<script src="/template/js/bootstrapValidator.js"></script>
<script src="/template/otherJS/alertify.min.js"></script>
<link rel="stylesheet" href="/template/otherCSS/alertify.default.css" />
<link rel="stylesheet" href="/template/otherCSS/alertify.core.css" />
<script src="/template/otherJS/jquery.pagination.js"></script>
<link rel="stylesheet" href="/template/otherCSS/pagination.css" />
<script src="/template/otherJS/upload.js"></script>
</head>
<body>
	<div class="container">
		<div class="row" style="top:20px;">
			<div class="col-md-3">
				<div class="pull-left">
					<a href="/template/pages/home_picture/dialog/home_pictureDialog.html" data-toggle="modal" data-target="#home_pictureDialog" type="button" class="btn btn-primary active" >
						<span class="glyphicon glyphicon-plus"></span>添加图片
					</a>
				</div>
				<div class="modal fade" id="home_pictureDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content" style="width:400px;top:100px;left:100px;"></div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-5 pull-right">
						<div class="">
							<div class="input-group">
			                    <input type="text" class="form-control" placeholder="输入图片名查找..." id='option'/>
			                    <span class="input-group-btn">
			                        <button class="btn btn-primary active" type="button" id="search">
			                        	<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;查询
			                        </button>
			                    </span>
                			</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<table class="table table-bordered table-hover table-striped text-center" id="customerForm">
				<thead>
				    <tr class="bg-primary">
				      <th>序号</th><th>图片</th><th>图片名</th><th>链接</th><th>展示</th><th>操作</th>
				    </tr>
			  	</thead>
			  	<tbody></tbody>
			</table>
			<div class="page col-md-12" style="height:20px;">
				<div class="pull-left" style="color:#337ab7;" id="pageHeader"></div>
				<ul class="paginList pagination pull-right" id="Pagination" style="margin:0px;"></ul>
			</div>			
		</div>
	</div>
</body>
<script type="text/javascript">
 	 var baseUrl = "/";
     $("#home_pictureDialog").on("hidden.bs.modal", function() {  
    	 $('.modal-content').css({'top':'100px','left':'100px'});
         $(this).removeData("bs.modal");  
     }); 
     
     $('#search').click(function(){
    	 init(1);
     });
	 
	 //分页回调函数
	 function handlePaginationClick(new_page_index, pagination_container){
       init(new_page_index+1);
       return false;
   	 }
	
	var init = function(page) {
		$('.append').remove();
		var filter = {
			name : $('#option').val()
		}
		var pageCondition = {
			pageNo : page,
			pageSize : 10,
			filters : filter 
		}
		$.ajax({
			url :  baseUrl + "homePictureList.do",
			type : 'get',
			dataType : 'json',
			data : pageCondition,
			success : function (result) {
				var html = '';
				if (result.list != null) {
					for (var i = 0;i < result.list.length;i++) {
						html += '<tr class="append">'+
									'<td>'+ result.list[i].id +'</td>'+
									'<td><img src="'+ result.list[i].path +'" style="width:30px;height:30px;"/></td>'+
									'<td>'+ result.list[i].name +'</td>'+
									'<td>'+ result.list[i].url +'</td>'+
									'<td>'+ result.list[i].statu +'</td>'+
									'<td><a href="/template/pages/home_picture/dialog/pictureUpdateDialog.html" data-toggle="modal" data-target="#home_pictureDialog" type="button" class="btn btn-primary update" >编辑</a>'+
										'<a href="/template/pages/home_picture/dialog/checkDialog.html" style="margin-left:20px;" data-toggle="modal" data-target="#home_pictureDialog" type="button" class="btn btn-primary check">查看大图</a>'+
										'<a type="button" class="btn btn-primary delete" style="margin-left:20px;">删除</a>'+
									'</td>'+
								'</tr>'
					}
				}		
				$('#customerForm').append(html);
				$('#pageHeader').html('当前第'+result.pageNo+'页&nbsp;&nbsp;&nbsp;共'+result.total+'页&nbsp;&nbsp;&nbsp;共'+result.totalSize+'条');
				$("#Pagination").pagination(result.totalSize, {
		     	  items_per_page:result.pageSize, //每页显示多少条
		     	  num_display_entries:8, //显示多少页
		     	  current_page:result.pageNo-1, //当前页数
		     	  prev_text:"上一页", 
		     	  next_text:"下一页",
		          callback: handlePaginationClick
			    });
				
				$('.update').each(function(i){				
					$(this).click(function(){
						$('#home_pictureDialog').data('id',result.list[i].id);					
					});
				});
				
				$('.check').each(function(i){				
					$(this).click(function(){
						$('.modal-content').css({'top':'50px','left':'-100px'});
						$('#home_pictureDialog').data('path',result.list[i].path);					
					});
				});
				
				$('.delete').each(function(i){
					$(this).click(function(){
						alertify.confirm("删除后数据不可恢复，确定要删除吗？", function (e) {
						    if (e) {
						    	$.ajax({
						    		url : baseUrl + "deletePicture.do?id=" + result.list[i].id,
						    		type : 'get',	
						    		dataType : 'json',
						    		success : function(result){
						    			alertify.success("删除成功！");
						    			init(1);
						    		},
						    		fail : function(){
						    			alertify.error("系统异常！");
						    		}
						    	});   
						    }
						});
					});
				}); 
			},
			fail : function () {
				alertify.error("系统异常！");
			}
		});
	} 
		
	$(function(){
		init(1);
	});
</script>
</html>