<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>  
    <link rel="stylesheet" href="../otherCSS/pintuer.css">
    <link rel="stylesheet" href="../otherCSS/admin.css">
    <script src="../js/jquery-1.9.1.min.js"></script>   
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="../images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />后台管理中心</h1>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="/juma.html" target="_blank"><span class="icon-home"></span> 前台首页</a> 
  &nbsp;&nbsp;<a class="button button-little bg-red" href="/loginOut.do"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2><span class="icon-user"></span>用户中心</h2>
  <ul style="display:block">
    <li><a href="user/user.html" target="right"><span class="icon-caret-right"></span>用户管理</a></li>
    <li><a href="resetPassword/resetPassword.html" target="right"><span class="icon-caret-right"></span>修改密码</a></li>
  </ul>   
  <h2><span class="icon-pencil-square-o"></span>司机招募</h2>
  <ul>
    <li><a href="driver/driver.html" target="right"><span class="icon-caret-right"></span>注册司机</a></li>   
    <li><a href="driver/authDriver.html" target="right"><span class="icon-caret-right"></span>认证司机</a></li>   
    <li><a href="driver/represent.html" target="right"><span class="icon-caret-right"></span>司机代言人</a></li>
  </ul> 
  <h2><span class="icon-pencil-square-o"></span>网站设置</h2>
  <ul>
    <li><a href="home_picture/home_picture.html" target="right"><span class="icon-caret-right"></span>轮播图片</a></li>   
  </ul> 
  <h2><span class="icon-pencil-square-o"></span>招贤纳士</h2>
  <ul>  
    <li><a href="/template/pages/job/job.html" target="right"><span class="icon-caret-right"></span>发布职位</a></li>  
    <li><a href="/template/pages/job/addJob.html" target="right"><span class="icon-caret-right"></span>职位编辑</a></li> 
  </ul> 
  <h2><span class="icon-pencil-square-o"></span>新闻编辑</h2>
  <ul>  
    <li><a href="/template/pages/news/news.html" target="right"><span class="icon-caret-right"></span>新闻列表</a></li>  
    <li><a href="/template/pages/news/addNews.html" target="right"><span class="icon-caret-right"></span>添加新闻</a></li> 
  </ul> 
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="user/user.html" id="a_leader_txt" target="right">管理员列表</a></li>
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="user/user.html" name="right" width="100%" height="100%" id="iframe"></iframe>
</div>
</body>
</html>